<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>B.E.A.K.E.R. Display Output</title>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="../vendors/angular.js" charset="utf-8"></script>
    <script src="../scripts/displayclient.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../stylesheets/styles.css">
  </head>
  <body ng-app="myApp">
    <nav ng-controller="NavController" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="http://github.com/tataton/beaker">B.</a>
        <button ng-click="logMeOut()" class="btn btn-warning navbar-btn navbar-right" style="margin-left: 15px;">Log out</button>
        <p style="margin-left: 15px; color: #fff;" class="navbar-text navbar-right">{{devicename}}</p>
        <p class="navbar-text navbar-right">Device name: </p>
      </div>
    </nav>
    <section ng-controller="DisplayController" style="full-height">
      <div class="container full-height">
        <div class="page-header">
          <h2 ng-hide="associatedUser" style="text-align: center;">Waiting for voice user to connect.</h2>
          <h2 ng-show="associatedUser" style="text-align: center;">Receiving instructions from {{associatedUser}}.</h2>
        </div>
        <div class="row full-height">
          <div class="col-sm-5 input-area">
            <h3>Input Area</h3>
            <p ng-repeat="command in commandsToDisplay">Command: {{command}}</p>
            <p ng-repeat="display in unallocatedDisplays">Display: {{display}}</p>
          </div>
          <div class="col-sm-7">
            <h3>Output Area</h3>
            <div ng-show="notebookEntriesToDisplay">
              <p ng-repeat="notebookEntry in notebookEntriesToDisplay">{{notebookEntry}}</p>
            </div>
            <div ng-show="searchResult">
              <h4>Search Result:</h4>
              <p>timestamp: {{searchResult.timestamp}}</p>
              <p>notebook entries:</p>
              <p ng-repeat="entry in searchResult.entries">{{entry}}<p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
