html, body {
  height: 100%;
}

body {
  padding-top: 60px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin button {
  white-space: normal;
}

.navbar-collapse.collapse {
  display: block;
}

.navbar-nav>li, .navbar-nav {
  float: left;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px;
}

.navbar-right {
  float: right;
}

.jumbotron {
  padding: 0.5em 0.6em;
  margin-bottom: 10px;
}

.jumbotron h1 {
  font-size: 2em;
}

.jumbotron p {
  font-size: 1.2em;
}

.jumbotron p .btn {
  padding: 0.5em;
}

.page-header {
  margin: 20px 0;
}

.input-area {
  border: 2px solid black;
}

.full-height, .input-area {
  height: calc(100vh - 160px);
}
